In [1]:
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from pyfm import pylibfm

In [2]:
from pandas import *
xls = ExcelFile('/home/sdoddiga/Downloads/'+'Online Retail.xlsx')
df = xls.parse(xls.sheet_names[0])

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
len(df)

541909

In [5]:
print('Null value in CustomerID:',len(df)-df['CustomerID'].count())

Null value in CustomerID: 135080

### Subset non-null Customers

In [6]:
df.CustomerID.notnull().head()

0    True
1    True
2    True
3    True
4    True
Name: CustomerID, dtype: bool

In [7]:
# Removing Rows where Customer ID is null
df_subset1 = df[df.CustomerID.notnull()]

In [8]:
df_subset1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [9]:
len(df_subset1)

406829

In [10]:
df[~df.CustomerID.notnull()].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom

In [11]:
df_nullcust = df[~df.CustomerID.notnull()]
len(df_nullcust)

135080

In [12]:
df_subset1[df_subset1.Quantity<0].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom

In [13]:
# Removing 
df_subset2 = df_subset1[~df_subset1.Quantity<0]
len(df_subset2)

397924

In [14]:
df_subset2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [15]:
df_negQnty = df_subset1[df_subset1.Quantity<0]
len(df_negQnty)

8905

In [16]:
df_negQnty.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom

In [19]:
df_subset2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [31]:
dfdf_subset2.columns[~df_subset2.columns.isin(["Quantity"])]
# .head()

Index(['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'UnitPrice',
       'CustomerID', 'Country'],
      dtype='object')

In [45]:
df2_UK = df_subset2[df_subset2["Country" ]== "United Kingdom"]

len(df2_UK)

354345

In [77]:
df2_UK.head(100)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748.0,United Kingdom
47,536372,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom
48,536372,22633,HAND WARMER UNION JACK,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
90,536378,84997B,RED 3 PIECE RETROSPOT CUTLERY SET,12,2010-12-01 09:37:00,3.75,14688.0,United Kingdom
91,536378,84997C,BLUE 3 PIECE POLKADOT CUTLERY SET,6,2010-12-01 09:37:00,3.75,14688.0,United Kingdom
92,536378,21094,SET/6 RED SPOTTY PAPER PLATES,12,2010-12-01 09:37:00,0.85,14688.0,United Kingdom
93,536378,20725,LUNCH BAG RED RETROSPOT,10,2010-12-01 09:37:00,1.65,14688.0,United Kingdom
94,536378,21559,STRAWBERRY LUNCH BOX WITH CUTLERY,6,2010-12-01 09:37:00,2.55,14688.0,United Kingdom
95,536378,22352,LUNCH BOX WITH CUTLERY RETROSPOT,6,2010-12-01 09:37:00,2.55,14688.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688.0,United Kingdom
97,536378,21975,PACK OF 60 DINOSAUR CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
99,536378,84991,60 TEATIME FAIRY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
100,536378,84519A,TOMATO CHARLIE+LOLA COASTER SET,6,2010-12-01 09:37:00,2.95,14688.0,United Kingdom
101,536378,85183B,CHARLIE & LOLA WASTEPAPER BIN FLORA,48,2010-12-01 09:37:00,1.25,14688.0,United Kingdom
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688.0,United Kingdom
103,536378,21931,JUMBO STORAGE BAG SUKI,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
104,536378,21929,JUMBO BAG PINK VINTAGE PAISLEY,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
105,536380,22961,JAM MAKING SET PRINTED,24,2010-12-01 09:41:00,1.45,17809.0,United Kingdom
106,536381,22139,RETROSPOT TEA SET CERAMIC 11 PC,23,2010-12-01 09:41:00,4.25,15311.0,United Kingdom
107,536381,84854,GIRLY PINK TOOL SET,5,2010-12-01 09:41:00,4.95,15311.0,United Kingdom
108,536381,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 09:41:00,1.95,15311.0,United Kingdom
109,536381,82567,"AIRLINE LOUNGE,METAL SIGN",2,2010-12-01 09:41:00,2.10,15311.0,United Kingdom
110,536381,21672,WHITE SPOT RED CERAMIC DRAWER KNOB,6,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
111,536381,22774,RED DRAWER KNOB ACRYLIC EDWARDIAN,24,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
112,536381,22771,CLEAR DRAWER KNOB ACRYLIC EDWARDIAN,24,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
113,536381,71270,PHOTO CLIP LINE,1,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
114,536381,22262,FELT EGG COSY CHICKEN,1,2010-12-01 09:41:00,0.85,15311.0,United Kingdom
115,536381,22637,PIGGY BANK RETROSPOT,1,2010-12-01 09:41:00,2.55,15311.0,United Kingdom
116,536381,21934,SKULL SHOULDER BAG,10,2010-12-01 09:41:00,1.65,15311.0,United Kingdom
117,536381,21169,YOU'RE CONFUSING ME METAL SIGN,3,2010-12-01 09:41:00,1.69,15311.0,United Kingdom
118,536381,21166,COOK WITH WINE METAL SIGN,1,2010-12-01 09:41:00,1.95,15311.0,United Kingdom
119,536381,21175,GIN + TONIC DIET METAL SIGN,2,2010-12-01 09:41:00,2.10,15311.0,United Kingdom

In [79]:
df2_UK.reset_index(drop=True)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom
26,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748.0,United Kingdom
27,536372,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom
28,536372,22633,HAND WARMER UNION JACK,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom
29,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
354315,581582,23498,CLASSIC BICYCLE CLIPS,12,2011-12-09 12:21:00,1.45,17581.0,United Kingdom
354316,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777.0,United Kingdom
354317,581583,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,36,2011-12-09 12:23:00,1.85,13777.0,United Kingdom
354318,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777.0,United Kingdom
354319,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777.0,United Kingdom
354320,581585,22481,BLACK TEA TOWEL CLASSIC DESIGN,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom
354321,581585,22915,ASSORTED BOTTLE TOP MAGNETS,24,2011-12-09 12:31:00,0.19,15804.0,United Kingdom
354322,581585,22178,VICTORIAN GLASS HANGING T-LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom
354323,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom
354324,581585,84832,ZINC WILLIE WINKIE CANDLE STICK,24,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
354325,581585,23084,RABBIT NIGHT LIGHT,12,2011-12-09 12:31:00,2.08,15804.0,United Kingdom
354326,581585,84879,ASSORTED COLOUR BIRD ORNAMENT,16,2011-12-09 12:31:00,1.69,15804.0,United Kingdom
354327,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
354328,581585,22113,GREY HEART HOT WATER BOTTLE,4,2011-12-09 12:31:00,4.25,15804.0,United Kingdom
354329,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804.0,United Kingdom
354330,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
354331,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
354332,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
354333,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
354334,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
354335,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom
354336,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
354337,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom
354338,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
354339,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom
354340,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom
354341,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom
354342,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom
354343,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom
354344,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom

In [149]:
df2_UK["Quantity"].max()

80995

In [146]:
# Scale data to 0-1
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
# df2_UK[""] = scaler.fit_transform(train_data)

In [147]:
scaler.fit_transform(df2_UK["Quantity"])

/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

array([  6.17329679e-05,   6.17329679e-05,   8.64261550e-05, ...,
         2.83971652e-04,   2.83971652e-04,   1.11119342e-04])

In [94]:

# You can use below code to create test and train samples :

from sklearn.model_selection import train_test_split
trainingSet, testSet = train_test_split(df2_UK, test_size=0.2)

In [103]:
trainingSet = trainingSet.reset_index(drop=True)

In [104]:
testSet=testSet.reset_index(drop=True)

In [107]:
trainingSet.head(30)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,546927,22629,SPACEBOY LUNCH BOX,24,2011-03-18 10:15:00,1.95,16672.0,United Kingdom
1,552813,23207,LUNCH BAG ALPHABET DESIGN,10,2011-05-11 12:44:00,1.65,15079.0,United Kingdom
2,545023,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,2011-02-25 14:25:00,0.55,12921.0,United Kingdom
3,539450,22192,BLUE DINER WALL CLOCK,1,2010-12-17 16:53:00,8.50,15570.0,United Kingdom
4,555691,23174,REGENCY SUGAR BOWL GREEN,2,2011-06-06 14:31:00,4.15,12843.0,United Kingdom
5,540522,70007,HI TEC ALPINE HAND WARMER,30,2011-01-09 12:50:00,0.42,13102.0,United Kingdom
6,576780,23322,LARGE WHITE HEART OF WICKER,10,2011-11-16 13:27:00,2.95,13258.0,United Kingdom
7,556926,22804,CANDLEHOLDER PINK HANGING HEART,5,2011-06-15 14:26:00,2.95,16324.0,United Kingdom
8,563906,20971,PINK BLUE FELT CRAFT TRINKET BOX,12,2011-08-21 11:50:00,1.25,14246.0,United Kingdom
9,566312,84879,ASSORTED COLOUR BIRD ORNAMENT,8,2011-09-12 09:43:00,1.69,16150.0,United Kingdom
10,550964,22997,TRAVEL CARD WALLET UNION JACK,24,2011-04-21 16:48:00,0.42,15856.0,United Kingdom
11,568212,22314,OFFICE MUG WARMER CHOC+BLUE,2,2011-09-25 16:05:00,2.95,15154.0,United Kingdom
12,547360,84991,60 TEATIME FAIRY CAKE CASES,24,2011-03-22 12:30:00,0.55,16135.0,United Kingdom
13,564052,22384,LUNCH BAG PINK POLKADOT,1,2011-08-22 13:40:00,1.65,15033.0,United Kingdom
14,547063,22931,BAKING MOULD HEART WHITE CHOCOLATE,2,2011-03-20 13:33:00,2.55,14769.0,United Kingdom
15,572302,23319,BOX OF 6 MINI 50'S CRACKERS,1,2011-10-23 14:47:00,2.49,15427.0,United Kingdom
16,556010,16014,SMALL CHINESE STYLE SCISSOR,20,2011-06-08 11:43:00,0.32,17414.0,United Kingdom
17,537242,84029E,RED WOOLLY HOTTIE WHITE HEART.,4,2010-12-06 10:19:00,3.75,14748.0,United Kingdom
18,575966,22457,NATURAL SLATE HEART CHALKBOARD,10,2011-11-13 12:38:00,2.95,13984.0,United Kingdom
19,565141,23209,LUNCH BAG VINTAGE DOILY,1,2011-09-01 13:40:00,1.65,17841.0,United Kingdom
20,543734,22676,FRENCH BLUE METAL DOOR SIGN 1,10,2011-02-11 12:22:00,1.25,17512.0,United Kingdom
21,540259,22722,SET OF 6 SPICE TINS PANTRY DESIGN,8,2011-01-06 09:00:00,3.95,18226.0,United Kingdom
22,541485,84978,HANGING HEART JAR T-LIGHT HOLDER,1,2011-01-18 13:05:00,1.25,18118.0,United Kingdom
23,560979,21985,PACK OF 12 HEARTS DESIGN TISSUES,24,2011-07-22 12:21:00,0.29,15232.0,United Kingdom
24,556915,85034A,3 GARDENIA MORRIS BOXED CANDLES,1,2011-06-15 13:35:00,4.25,15036.0,United Kingdom
25,572552,22277,COSMETIC BAG VINTAGE ROSE PAISLEY,1,2011-10-24 17:07:00,4.13,14096.0,United Kingdom
26,573066,22916,HERB MARKER THYME,12,2011-10-27 13:53:00,0.65,16026.0,United Kingdom
27,537193,22914,BLUE COAT RACK PARIS FASHION,1,2010-12-05 13:49:00,4.95,15023.0,United Kingdom
28,553879,22854,CREAM SWEETHEART EGG HOLDER,4,2011-05-19 15:15:00,4.95,15791.0,United Kingdom
29,577549,22384,LUNCH BAG PINK POLKADOT,1,2011-11-20 15:00:00,1.65,17841.0,United Kingdom

In [127]:
trainingSet.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [128]:
testSet.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [108]:
def DataTransform(filename):
    data = []
    y = []
    users=set()
    items=set()
#     print(range(len(filename)))
    for line in range(len(filename)):
#         print(df2_UK.loc[line,"CustomerID"])
        data.append({"UserID": str(filename.loc[line,"CustomerID"]), "StockCode": str(filename.loc[line,"StockCode"])}) 
        y.append(float(filename.loc[line,"Quantity"]))
        users.add(filename.loc[line,"CustomerID"])
        items.add(filename.loc[line,"StockCode"])

    return (data, np.array(y), users, items)

In [109]:
(train_data, y_train, train_users, train_items) = DataTransform(trainingSet)

In [110]:
y_train[:10]

array([ 24.,  10.,  24.,   1.,   2.,  30.,  10.,   5.,  12.,   8.])

In [112]:
train_data[:10]

[{'StockCode': '22629', 'UserID': '16672.0'},
 {'StockCode': '23207', 'UserID': '15079.0'},
 {'StockCode': '21977', 'UserID': '12921.0'},
 {'StockCode': '22192', 'UserID': '15570.0'},
 {'StockCode': '23174', 'UserID': '12843.0'},
 {'StockCode': '70007', 'UserID': '13102.0'},
 {'StockCode': '23322', 'UserID': '13258.0'},
 {'StockCode': '22804', 'UserID': '16324.0'},
 {'StockCode': '20971', 'UserID': '14246.0'},
 {'StockCode': '84879', 'UserID': '16150.0'}]

In [115]:
(test_data, y_test, test_users, test_items) = DataTransform(testSet)

In [116]:
y_test[:10]

array([  1.,   2.,  24.,   6.,   2.,  12.,  24.,  10.,   3.,  12.])

In [117]:
test_data[:10]

[{'StockCode': '22843', 'UserID': '16261.0'},
 {'StockCode': '20679', 'UserID': '15311.0'},
 {'StockCode': '22722', 'UserID': '15288.0'},
 {'StockCode': '21071', 'UserID': '17850.0'},
 {'StockCode': '23396', 'UserID': '13994.0'},
 {'StockCode': '23172', 'UserID': '13517.0'},
 {'StockCode': '22554', 'UserID': '15144.0'},
 {'StockCode': '22385', 'UserID': '15039.0'},
 {'StockCode': '22139', 'UserID': '14496.0'},
 {'StockCode': '22713', 'UserID': '17377.0'}]

In [ ]:
# def loadData(filename,path="/home/sdoddiga/Downloads/ml-100k/"):
#     data = []
#     y = []
#     users=set()
#     items=set()
#     with open(path+filename) as f:
#         for line in f:
#             (user,movieid,rating,ts)=line.split('\t')
#             data.append({ "user_id": str(user), "movie_id": str(movieid)})
#             y.append(float(rating))
#             users.add(user)
#             items.add(movieid)

#     return (data, np.array(y), users, items)

In [ ]:
(train_data, y_train, train_users, train_items) = loadData("ua.base")

In [118]:

v = DictVectorizer()
X_train = v.fit_transform(train_data)
X_test = v.transform(test_data)

In [133]:
print(X_train.toarray()[1,2])

0.0

In [134]:
for n in range(len(X_train.toarray()[1])):
    print(X_train.toarray()[1,n])

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

KeyboardInterrupt:

In [139]:
# fm = pylibfm.FM(num_factors=10, num_iter=100, verbose=True, task="regression", initial_learning_rate=0.001, learning_rate_schedule="optimal")
fm = pylibfm.FM(num_factors=10, num_iter=100, verbose=True, initial_learning_rate=0.001, learning_rate_schedule="optimal")
fm.fit(X_train,y_train)

Creating validation dataset of 0.01 of training for adaptive regularization
-- Epoch 1
Training log loss: 0.49070
-- Epoch 2
Training log loss: 0.47274
-- Epoch 3
Training log loss: 0.46293
-- Epoch 4
Training log loss: 0.45516
-- Epoch 5
Training log loss: 0.44844
-- Epoch 6
Training log loss: 0.44249
-- Epoch 7
Training log loss: 0.43715
-- Epoch 8
Training log loss: 0.43229
-- Epoch 9
Training log loss: 0.42782
-- Epoch 10
Training log loss: 0.42369
-- Epoch 11
Training log loss: 0.41985
-- Epoch 12
Training log loss: 0.41631
-- Epoch 13
Training log loss: 0.41294
-- Epoch 14
Training log loss: 0.40982
-- Epoch 15
Training log loss: 0.40687
-- Epoch 16
Training log loss: 0.40408
-- Epoch 17
Training log loss: 0.40144
-- Epoch 18
Training log loss: 0.39893
-- Epoch 19
Training log loss: 0.39656
-- Epoch 20
Training log loss: 0.39428
-- Epoch 21
Training log loss: 0.39211
-- Epoch 22
Training log loss: 0.39003
-- Epoch 23
Training log loss: 0.38804
-- Epoch 24
Training log loss: 0.38613
-- Epoch 25
Training log loss: 0.38430
-- Epoch 26
Training log loss: 0.38255
-- Epoch 27
Training log loss: 0.38085
-- Epoch 28
Training log loss: 0.37923
-- Epoch 29
Training log loss: 0.37765
-- Epoch 30
Training log loss: 0.37613
-- Epoch 31
Training log loss: 0.37466
-- Epoch 32
Training log loss: 0.37323
-- Epoch 33
Training log loss: 0.37187
-- Epoch 34
Training log loss: 0.37052
-- Epoch 35
Training log loss: 0.36923
-- Epoch 36
Training log loss: 0.36797
-- Epoch 37
Training log loss: 0.36675
-- Epoch 38
Training log loss: 0.36557
-- Epoch 39
Training log loss: 0.36441
-- Epoch 40
Training log loss: 0.36329
-- Epoch 41
Training log loss: 0.36220
-- Epoch 42
Training log loss: 0.36113
-- Epoch 43
Training log loss: 0.36008
-- Epoch 44
Training log loss: 0.35906
-- Epoch 45
Training log loss: 0.35808
-- Epoch 46
Training log loss: 0.35711
-- Epoch 47
Training log loss: 0.35617
-- Epoch 48
Training log loss: 0.35524
-- Epoch 49
Training log loss: 0.35434
-- Epoch 50
Training log loss: 0.35345
-- Epoch 51
Training log loss: 0.35258
-- Epoch 52
Training log loss: 0.35172
-- Epoch 53
Training log loss: 0.35087
-- Epoch 54
Training log loss: 0.35006
-- Epoch 55
Training log loss: 0.34927
-- Epoch 56
Training log loss: 0.34849
-- Epoch 57
Training log loss: 0.34770
-- Epoch 58
Training log loss: 0.34694
-- Epoch 59
Training log loss: 0.34620
-- Epoch 60
Training log loss: 0.34548
-- Epoch 61
Training log loss: 0.34476
-- Epoch 62
Training log loss: 0.34404
-- Epoch 63
Training log loss: 0.34333
-- Epoch 64
Training log loss: 0.34266
-- Epoch 65
Training log loss: 0.34200
-- Epoch 66
Training log loss: 0.34132
-- Epoch 67
Training log loss: 0.34067
-- Epoch 68
Training log loss: 0.34004
-- Epoch 69
Training log loss: 0.33939
-- Epoch 70
Training log loss: 0.33878
-- Epoch 71
Training log loss: 0.33816
-- Epoch 72
Training log loss: 0.33756
-- Epoch 73
Training log loss: 0.33696
-- Epoch 74
Training log loss: 0.33638
-- Epoch 75
Training log loss: 0.33580
-- Epoch 76
Training log loss: 0.33523
-- Epoch 77
Training log loss: 0.33466
-- Epoch 78
Training log loss: 0.33411
-- Epoch 79
Training log loss: 0.33356
-- Epoch 80
Training log loss: 0.33302
-- Epoch 81
Training log loss: 0.33249
-- Epoch 82
Training log loss: 0.33195
-- Epoch 83
Training log loss: 0.33144
-- Epoch 84
Training log loss: 0.33093
-- Epoch 85
Training log loss: 0.33041
-- Epoch 86
Training log loss: 0.32993
-- Epoch 87
Training log loss: 0.32943
-- Epoch 88
Training log loss: 0.32896
-- Epoch 89
Training log loss: 0.32846
-- Epoch 90
Training log loss: 0.32800
-- Epoch 91
Training log loss: 0.32753
-- Epoch 92
Training log loss: 0.32708
-- Epoch 93
Training log loss: 0.32661
-- Epoch 94
Training log loss: 0.32616
-- Epoch 95
Training log loss: 0.32573
-- Epoch 96
Training log loss: 0.32529
-- Epoch 97
Training log loss: 0.32486
-- Epoch 98
Training log loss: 0.32443
-- Epoch 99
Training log loss: 0.32401
-- Epoch 100
Training log loss: 0.32360

In [141]:
preds = fm.predict(X_test)
from sklearn.metrics import mean_squared_error
print("FM MSE: %.4f" % mean_squared_error(y_test,preds))

FM MSE: 1463.4341

In [144]:
max(preds)

0.96081431287656394